@import url('https://fonts.googleapis.com/css2?family=Poppins:wgt@300;400;500;600&display=swap');
 :root {
    --main-color: #027581;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

#sidebar-toggle {
    display: none;
}

.sidebar {
    height: 100%;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: var(--main-color);
    /*background: #36393b;*
    background: #cbd3ca;*/
    color: #fff;
    overflow-y: auto;
    transition: width 500ms;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0rem 1rem;
}

.sidebar-menu ul li {
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
}

.sidebar a {
    display: block;
    color: #fff;
    font-size: 1.1rem;
    padding-left: 1rem;
}

.sidebar a img {
    height: 25px;
    width: 25px;
    padding-top: .2rem;
}

.sidebar a:hover {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--text-grey);
    border-radius: 30px 0 0 30px;
    transition: 1s;
}

.sidebar li a.active {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--text-grey);
    border-radius: 30px 0 0 30px;
}

.sidebar a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}

#sidebar-toggle:checked~.sidebar {
    width: 60px;
}

#sidebar-toggle:checked~.sidebar .sidebar-header h3 span:last-child,
#sidebar-toggle:checked~.sidebar li span:last-child {
    display: none;
}

#sidebar-toggle:checked~.sidebar .sidebar-header,
#sidebar-toggle:checked~.sidebar li {
    display: flex;
    justify-content: center;
}

#sidebar-toggle:checked~.main-content header {
    left: 60px;
}

#sidebar-toggle:checked~.main-content {
    margin-left: 60px;
}

.main-content {
    position: relative;
    margin-left: 240px;
    transition: margin-left 500ms;
}

header {
    position: fixed;
    top: 0;
    left: 240px;
    z-index: 100;
    width: calc(100% - 240px);
    background-color: #fff;
    height: 60px;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    transition: left 500ms;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons span,
.social-icons div {
    margin-left: 1.2rem;
}

.social-icons div {
    height: 38px;
    width: 38px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img/1.jpg);
    border-radius: 50%;
}

.dash-title {
    color: var(--color-dark);
    margin-bottom: .6rem;
}

main {
    margin-top: 60px;
    background: #f1f5f9;
    min-height: 90vh;
    padding: .7rem 3rem;
}

.dash-cards {
    display: grid;
    width: 100%;
}

.card-single {
    background: #fff;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 1.3rem 1rem;
    display: flex;
    align-items: center;
}

.card-body span {
    font-size: 1.5rem;
    color: #777;
    padding-right: 1.4rem;
}

.card-body h5 {
    color: var(--text-grey);
    font-size: 1rem;
}

.card-body h4 {
    color: var(--color-dark);
    font-size: 1.1rem;
    margin-top: .2rem;
}

.card-footer {
    padding: .2rem 1rem;
    background: #f9fafc;
}

.recent {
    margin-top: 1rem;
    margin-bottom: 3rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.activity-grid {
    display: grid;
    width: 100%;
}

.activity-card {
    background: #fff;
    border-radius: 7px;
}

.activity-card table {
    width: 100%;
    border-collapse: collapse;
}

.activity-card thead {
    background: #efefef;
    text-align: left;
    justify-content: space-between;
}

th,
td {
    font-size: .9rem;
    padding: 1rem .1rem;
    color: var(--text-grey);
}

.tstatus {
    text-align: right;
    padding-right: 4rem;
}

.status {
    text-align: right;
    padding-left: 3rem;
}

.field-error {
    width: 100%;
    height: 30px;
    background: black;
    color: red;
    text-align: center;
    margin-top: 10px;
    align-items: center;
    padding-top: 10px;
}

td {
    font-size: .8rem;
}

tbody tr:nth-child(even) {
    background: #f9fafc;
}

.badge {
    padding: .2rem 1rem;
    border-radius: 20px;
    font-weight: 700;
    font-size: .8rem;
}

.badge.success {
    background: green;
    color: #fff;
}

.badge.pending {
    background: rgb(99, 104, 99);
    color: #fff;
}

.badge.warning {
    /*background: #F0F6B2;*/
    background-color: rgb(224, 21, 21);
    color: #000;
}

.badge.edit {
    /*background: #F0F6B2;*/
    background-color: #027581;
}

.change {
    color: rgb(164, 207, 243);
}

.table-responsive {
    overflow-x: auto;
}

@media only screen and (max-width:1200px) {
    .sidebar {
        width: 60px;
        z-index: 150;
    }
    .sidebar .sidebar-header h3 span,
    .sidebar li span:last-child {
        display: none;
    }
    .sidebar .sidebar-header,
    .sidebar li {
        display: flex;
        justify-content: center;
    }
    .main-content {
        margin-left: 60px;
    }
    .main-content header {
        left: 60px;
        width: calc(100% - 60px);
    }
    #sidebar-toggle:checked~.sidebar {
        width: 240px;
    }
    #sidebar-toggle:checked~.sidebar .sidebar-header h3 span,
    #sidebar-toggle:checked~.sidebar li span:last-child {
        display: inline;
    }
    #sidebar-toggle:checked~.sidebar .sidebar-header {
        display: flex;
        justify-content: space-between;
    }
    #sidebar-toggle:checked~.sidebar li {
        display: block;
    }
    #sidebar-toggle:checked~.main-content header {
        left: 60px;
    }
    #sidebar-toggle:checked~.main-content {
        margin-left: 60px;
    }
}

@media only screen and (max-width:860px) {
    .dash-cards {
        grid-template-columns: 100%;
    }
    .card-single {
        margin-bottom: 1rem;
    }
    .activity-grid {
        display: block;
    }
    .sg {
        display: none;
    }
}

@media only screen and (max-width:600px) {
    .dash-cards {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width:450px) {
    main {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.frm {
    margin: 1rem;
}

.frm label {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-grey);
    padding: 1rem;
    margin-top: 1.5rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1rem;
    font-size: 1rem;
    line-height: 2;
    outline: none;
    margin: .8rem auto;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.form-control:hover,
textarea:hover {
    box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(213, 231, 231);
    outline: none;
}

textarea {
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    outline: none;
    margin-top: .8rem;
    color: #495057;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    background: #fff;
}

.text-center {
    margin: 1rem;
    text-align: center;
}

.text-center button {
    background: #17a2b8;
    color: #fff;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    padding: .6rem 1rem;
    font-size: 1.5rem;
    width: 100%;
}


/* ---------------demo tyr */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    margin-top: 10px auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 20px;
    margin-top: 30px;
    padding-right: 160px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* order */

.order-tab .order-img img {
    width: 60px;
    height: 60px;
}

.tab td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.bt {
    display: inline-block;
    background: #ccc9c9;
    color: rgb(37, 33, 33);
    padding: 10px 40px;
    margin: 0px 0px;
    border-radius: 5px;
    transition: background 0.5s;
}

.bt a {
    text-decoration: none;
    color: rgb(133, 115, 115);
    font-weight: 600;
}